.header {
    display: flex;
    position: fixed;
    align-items: center;
    background-image: url("../../images/bg_header.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 120px;
    width: 100%;
    z-index: 99;

    .logo {
        position: absolute;
        background-image: url("../../images/tanklogo.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 200px;
        height: 80px;
        left: 50%;
        top: 20px;
        translate: calc(-50%);

        @media screen and (max-width: 500px) {
            width: 45vw;
        }
    }

    h5 {
        font-weight: bold;
        background: #ddd;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
            background: -webkit-linear-gradient(
                96.41deg,
                #ffa100 11%,
                #ffd970 44.81%,
                #ff9c00 96.56%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-filter: drop-shadow(0 0 3px #ffa100);
            filter: drop-shadow(0 0 5px #ffa100);
        }
    }

    .container {
        .menu {
            display: none;
        }

        @media screen and (max-width: 768px) {
            .menu {
                display: block;
            }
            .row {
                display: none;
            }
        }
    }
}
