@import "default";
@import "components/mixins";
@import "components/header";
@import "components/footer";
@import "components/dashboard";
@import "components/dftl";
@import "components/notfound";

/** ---------- Custom Style ---------- */
p {
    line-height: 1.2rem;
    color: var(--font-white-color);
}
.text-white {
    color: var(--font-white-color);
}

/** ---------- Space Style ---------- */
.spacer-half {
    height: 15px;
}
.spacer-single {
    height: 30px;
}
.spacer-double {
    height: 60px;
}
.spacer-triple {
    height: 150px;
}

/** ----- Scroll Style ----- */
// ::-webkit-scrollbar {
//     width: 10px;
//     background: var(--font-white-color);
// }

// Track
// ::-webkit-scrollbar-track {
//     background: transparent;
//     box-shadow: inset 0 0 5px var(--bg-secondary);
// }

// Handle
// ::-webkit-scrollbar-thumb {
//     background: var(--bg-primary);
//     box-shadow: inset 0 0 5px var(--bg-secondary);
// }

// Handle on hover
// ::-webkit-scrollbar-thumb:hover {
//     background: var(--bg-primary);
//     box-shadow: inset 0 0 5px var(--font-white-color);
// }

/** ----- TabGroup Style ----- */
.tabgroup__item__container {
    @include tabgroup__item__common(top, var(--font-primary), to bottom, right);

    @media screen and (max-width: 576px) {
        @include tabgroup__item__common(
            bottom,
            var(--font-primary),
            to top,
            top
        );
    }
}
.tabgroup__item__container__reverse {
    @include tabgroup__item__common(bottom, var(--font-third), to top, right);
}

/** ----- ScrollTopButton Style ----- */
.scroll__to__top {
    position: relative;

    .icon__style {
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: 20;
        background-color: var(--bg-secondary);
        border: 2px solid #fff;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        color: #fff;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        animation: movebtn 1.5s ease-in-out infinite;

        &:hover {
            animation: none;
            background: #fff;
            color: var(--bg-primary);
            border: 2px solid var(--bg-primary);
        }
    }

    @keyframes movebtn {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(20px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}

/** ----- JoinUsButton Style ----- */
.join__us {
    position: fixed;
    bottom: 0;
    right: 10px;
    background-image: url("../images/join_back.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 192px;
    height: 233px;

    > div {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            svg {
                font-size: 40px;
                fill: white;
            }

            h5 {
                color: white;
                margin: 0;
            }
        }
    }
}
