@import "default.scss";
@import "components/header.scss";
@import "components/dashboard.scss";

/** ---------- Custom Style ---------- */
p {
    line-height: 1.8rem;
    color: var(--font-white-color);
}

.text-white {
    color: var(--font-white-color);
}

/** ---------- Space Style ---------- */
.spacer-half {
    height: 15px;
}
.spacer-single {
    height: 30px;
}
.spacer-double {
    height: 60px;
}
