@import "default.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import "components/dashboard.scss";

/** ---------- Custom Style ---------- */
p {
    line-height: 1.8rem;
    color: var(--font-white-color);
}

.text-white {
    color: var(--font-white-color);
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--bg-secondary);
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 5px var(--bg-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f5bb2a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b48e2e80;
}

/** ---------- Space Style ---------- */
.spacer-half {
    height: 15px;
}
.spacer-single {
    height: 30px;
}
.spacer-double {
    height: 60px;
}
